.Rhistory
.RData
.Rproj.user
/static/slides/Data
/public/slides/Data
/static/slides/Resultados
/static/slides/admitidos_graphs.R
/static/slides/admitidos-graphs.R
/static/slides/admitidos-pregrado.R
/static/slides/aspirantes-graphs.R
/static/slides/aspirantes-pregrado.R
/static/slides/depto4.json
/static/slides/DIVIPOLA_20160930.csv
/static/slides/DIVIPOLA_20160930.xlsx
/static/slides/funciones.R
/static/slides/maps_adm_graphs.R
/static/slides/maps_adm_script.R
/static/slides/maps_asp_graphs.R
/static/slides/maps_asp_script.R
/static/slides/mpio2.json
/static/slides/mpio5.json
/static/slides/boy.png
/static/slides/girl.png